<h1>Game</h1>
<table class="field">
  <tr *ngFor="let row of rs.field; index as i">
    <td *ngFor="let cell of row; index as j" (click)="onClickCell(j, i)">{{rs.stone[cell]}}</td>
  </tr>
</table>
<p>Me: {{player_name}}    Opp: {{opponent}}</p>
<div *ngIf="opponent">
  <span>{{rs.stone[1]}}: {{rs.blackNum}}    {{rs.stone[-1]}}: {{rs.whiteNum}}</span>

  <p>MyColor: {{rs.stone[rs.myColor]}}</p>
  <div *ngIf="rs.turn === 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><button (click)="onClickRematch()">REMATCH</button></ng-template>
    <ng-template #elseBlock><p>turn: {{rs.stone[rs.turn]}}</p></ng-template>
</div>

<button (click)="onClickExit()">EXIT</button>
