<h1>部屋一覧</h1>
<div>
  <label>名前:
      <input [(ngModel)]="player_name" placeholder="名前を入力してね!">
  </label>
</div>
<div class="rooms">
  <button class="btn_create" (click)="onClickCreate()">作成</button>
  <div class="room" *ngFor="let room of rooms">
    <span class="player1">{{room.Players[0].Name}}</span>
    <img class="battle-icon" src="assets/image/battle_icon.png">

    <div *ngIf="room.Players[1]; then thenBlock2 else elseBlock2"></div>
    <ng-template #thenBlock2><span class="player2">{{room.Players[1].Name}}</span></ng-template>
    <ng-template #elseBlock2><button class="btn_enter" (click)="onClickEnter(room.RoomID)">ENTER</button></ng-template>

    <p class="spectator-num"><fa name="eye"></fa>{{room.SpectatorNames.length}}</p>
  </div>
</div>
